@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}